.welcome {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.title {
    padding: 30px 0px 30px 0px;
}
  
.card {
    display: inline-block;
    padding: 20px 20px 20px;
    max-width: max-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0px 20px 0px 20px;
}
