.gridcontainer {
    display: grid;
    grid-template-areas:
        "tle tle"
        "mn side"
        "btm btn";
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: min-content max-content;
}

.titlecontainer {
    grid-area: tle; 
    height: min-content;
    background-color: #588874;
    width: 100%;
}

.title {
    text-align: center;
    color: white;
}

.displaycontainer {
    grid-area: mn; 
    background-color: #456658;
}

.underlay {
    position: absolute;
    left: 20px;
    top: 20px;
    max-height: 500px;
    max-width: 500px;
    z-index: 2;
    padding: 0px 20px 20px 20px;

}

.menucontainer {
    grid-area: side;
    background-color: #3a574a;
    padding: 15px;
}

.menutitle {
    list-style: none;
    padding: 5px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    justify-content: center;

}

.menuitem {
    list-style: none;
    padding: 2px;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
}

.input {
    cursor: pointer;
    padding: 2px 2px 2px 5px;
}

.input:hover {
    background-color: #bdd3db;
}

.label {
    padding: 2px 2px 2px 5px;
}

.bottomcontainer {
    grid-area: btm;
    background-color: #588874;
}

.buttonarea {
    grid-area: btn;
    background-color: #588874;
    padding: 15px;
}

.button {
    border-radius: 15px;
    border: 3px solid #fff;
    cursor: pointer;
	color: #fff;
    overflow: hidden;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
    background: none;
    margin: 5px;
}

.button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button:active {
    border-color: #9be2c5;
	color: #9be2c5;
}

.button:hover {
    background: #58b890;
}

.button:before {
    height: 100%;
    color: #fff;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button:active:before {
	color: #9be2c5;
}

.button:empty {
    display: none;
}