.navcontainer {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
      "hd   hd"
      "side tb"
      "ft   ft";
    grid-template-rows: auto 1fr 30px;
    grid-template-columns: 130px 1fr;
}

.activetab {
    grid-area: tb;
    padding: 10px 10px 10px 30px;
}