.header {
  background-color: #edf0f1;
  grid-area: hd;
}

.mainLogo {
  float: left;
  height: auto;
  width: auto;
  max-width: 50px;
  max-height: 50px;
}

.mainLogo:hover {
  cursor: pointer;
}

.homeLink {
  max-height: 50px;
  height: auto;
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  font-size: 25px;
}

.homeLink:hover {
  text-decoration: underline;

}

.topNav {
  float: right;
}

.topNav li {
  list-style: none;
  height: 50px;
  padding: 10px;
  display: inline-block;
}

.topNav li:hover {
  background-color: #c9dafa;
}

.topNav a {
  vertical-align: middle;
}
