.sideBar {
    grid-area: side;
    background-color: #cfe2e9;
}

.sideBar li {
    list-style: none;
    width: 100%;
    padding: 5px 5px 5px;
}
  
.sideBar li:hover {
    background-color: #b5c9d4;
}