.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "hd   hd"
    "side tb"
    "ft   ft";
  grid-template-rows: min-content 1fr 30px;
  grid-template-columns: 130px 1fr;
}

/* Side bar of the page */
.tabcontainer {
  grid-area: side;
  background-color: #cfe2e9;
}

.navtab li {
  list-style: none;
  width: 100%;
  padding: 5px 5px 5px;
  border-bottom: 1px solid #b5c9d4;
}

.navtab li:hover {
  background-color: #b5c9d4;
}

/* Tabbed pages from the sidebar. */
.tab {
  grid-area: tb;
  padding: 10px 10px 10px 30px;
  overflow: scroll;
}

/* Final footer at the end of the page. */
.footer {
  grid-area: ft;
  background-color: #edf0f1;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  padding: 10px 0px 10px;
}
