.maincontainer {
    position: relative;
    max-height: 500px;
    max-width: 500px;
}

.underlay {
    position: absolute;
    left: 0px;
    top: 0px;
    max-height: 500px;
    max-width: 500px;
    z-index: 2;
}

.lineart {
    position: absolute;
    left: 0px;
    top: 0px;
    max-height: 500px;
    max-width: 500px;
    z-index: 100;
}

.greyscale {
    position: absolute;
    left: 0px;
    top: 0px;
    max-height: 500px;
    max-width: 500px;
    z-index: 1;
}